[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"

[packages]
cffi = "*"
cryptography = "*"
"enum34" = "*"
gspread = "*"
"httplib2" = "*"
idna = "*"
ipaddress = "*"
itsdangerous = "*"
"oauth2client" = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycparser = "*"
requests = "*"
rsa = "*"
six = "*"
Flask = "*"
"Jinja2" = "*"
MarkupSafe = "*"
pyOpenSSL = "*"
Werkzeug = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
