[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
cffi = "*"
cryptography = "*"
"enum34" = "*"
gspread = "*"
"httplib2" = "*"
idna = "*"
ipaddress = "==1.0.7"
itsdangerous = "==0.24"
"oauth2client" = "*"
"pyasn1" = "==0.1.7"
"pyasn1-modules" = "==0.0.5"
pycparser = "==2.14"
requests = "*"
rsa = "*"
six = "==1.9.0"
Flask = "==1.0.2"
"Jinja2" = "*"
MarkupSafe = "==0.23"
pyOpenSSL = "==17.5.0"
Werkzeug = "*"

[requires]
python_version = "3.6"
