cffi==1.1.2
cryptography==0.9.1
enum34==1.0.4
Flask==0.10.1
gspread==0.2.5
httplib2==0.9.1
idna==2.0
ipaddress==1.0.7
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
oauth2client==1.4.11
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.14
pyOpenSSL==0.15.1
rsa==3.1.4
six==1.9.0
Werkzeug==0.9.6
