<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="icon" href="static/favicon.ico">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Party Requests</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .title { position: absolute; margin: 394px 0 0 35px; color: #ffffff}
        .image { position: relative; width: 100%; }
        dl { font-size: 1.5em; margin-bottom: 10px; }
        dl.dl-horizontal dt { float: left; width: 80px; font-weight: normal; text-align: left; }
        dl.dl-horizontal dd { margin-left: 94px; font-weight: 700; overflow: hidden; }
    </style>
</head>
<body role="document">

    <div class="container" role="main">

        <div class="page-header image">
            <h2>Dance Party Requests</h2>
            {% if model.requestCount == 1 %}
              <h3>There is one request</h3>
            {% else %}
              <h3>There are {{ model.requestCount }} requests</h3>
            {% endif %}
            <!--<img src="static/party time sean 5x7.png" /> -->
        <p>Click the remove button above each video after it has been played.</p>
        <p>If you accidentally click the Remove button, refresh the page to restore all videos.</p>
        </div>

        {% block content %}{% endblock %}

        <a href='https://docs.google.com/spreadsheets/d/1OFZzc-IbLhDgV5ylfQwEKg5ICJ78x5iJzSBcgVy5YnY/edit?usp=sharing' target='_blank'>Google Spreadsheet</a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script language='javascript'>
    
    $(function() {
      $('input').bind('click', function() {

        var id = this.id.replace('check_', '');
        $('#' + id).toggle(700, function () {
          this.remove();
        });
      });
    });
    </script>
</body>
</html>
